.app-chat {
  height: calc(100vh - 150px);
  > .container{
    height: 100%;
  }
  .app-main {
    height: 100%;
    overflow-y: hidden;
  }
}

.app-scrollbar {
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
}