.app-sidebar {
  width: 30%;
}

.app-layout {
  width: 70%;
  display: flex;
  flex-direction: column;
}
.app-layout-item{
  flex: 1 1 auto;
}
.app-layout-main {
  flex: 1 1 auto;
  background: url("../images/bg-chat.jpg");
  background-size: cover;
}

.app-avatar {
  img{
    border-radius: 50px;
  }
}

.app-border-5 {
  border-radius: 5px;
}

.sidebar-main {
  height: calc(100vh - 150px);
}

.user-item {
  &.active {
    background-color: #ccc;
  }
  .card {
    align-items: center;
    border-width: 1px 0 1px 0;
    border-style: solid;
    border-color: #ccc;
    border-radius: 0;
    background-color: transparent;
  }
}

.user-avatar {
  width: 45px;
}

.layout-tool {
  border-bottom: 1px solid #ebebeb;
}

.app-search {
  height: 85px;
}
.sidebar-main {
  height: calc(100% - 85px);
}

//=================app-layout-chat=======================/
.app-layout-tool {
  height: 85px;
}

.app-layout-typing {
  height: 60px;
}
.layout-typing {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.layout-typing .type-message {
  flex-grow: 1;
}

.layout-typing .send-message {
  margin-left: 30px;
}

.app-layout-main {
  height: calc(100% - 145px);
}

.chat-history {
  span{
    display: inline-block;
    font-size: 100%;
  }
}

.chats{
  padding: 0 1rem 0;
}
.chat  {
  display: flex;
  align-items: flex-start;
  margin-bottom: 1rem;

  .chat-avatar {
    width: 60px;
  }
  &.chat-not-mine {
    justify-content: flex-start;
    .chat-messages{
      .chat-message{
        background-color: #fff;
        &:first-child{
          &:before{
            left: -10px;
            border-right-color: #fff;
          }
        }

      }
    }

    .chat-avatar {
      margin-right: 15px;
    }
  }
  &.chat-mine {
    justify-content: flex-start;
    flex-direction: row-reverse;
    .chat-messages{
      .chat-message{
        background-color: $main;
        color: #fff;
        &:first-child{
          &:before{
            right: -10px;
            border-left-color: $main;
          }
        }
      }
    }

    .chat-avatar {
      margin-left: 15px;
    }

  }
  .chat-messages{
    margin-top: 1rem;
    .chat-message {
      position: relative;
      padding: .5rem 1rem;
      margin-bottom: .5rem;
      &:first-child{
        &:before {
          position: absolute;
          content: '';
          top: 10px;
          width: 0;
          height: 0;
          border: 5px solid transparent;
        }
      }

      span{
        display: block;
        &.time{
          font-size: 10px;
          text-align: right;
        }
      }
    }
  }

}