.app-sidebar {
  width: 450px;
}

.app-layout {
  width: calc(100% - 450px);
}

.app-sidebar-main {
  height: calc(100vh - 200px);
  overflow: hidden;
  overflow-y: auto;
}

.app-user-item {
  &.active {
    background-color: #ccc;
  }
  .card {
    border-width: 1px 0 1px 0;
    border-style: solid;
    border-color: #ccc;
    border-radius: 0;
    background-color: transparent;
  }
}

.user-avatar {
  width: 45px;
  img{
    border-radius: 50px;
  }
}

.layout-tool {
  border-bottom: 1px solid #ebebeb;
}